<div class="container">
  <div class="row justify-content-center align-items-center">
    <h1 class=" ">Sit you are authorize to Create new ITEM!</h1>
  </div>
  <form (ngSubmit)="onSubmit()" class=" justify-content-center" #ItemForm="ngForm">
    <div class="row  justify-content-center  ">
      <div class="col-6 ">
        <label for="Name" class="col-form-label col-form-label-sm">Item name</label>
        <input required type="text" id="Name" name="Name" #name="ngModel" [(ngModel)]="bindingModel.name" class="form-control form-control-sm"
          placeholder="Item name...">
        <label for="price" class="col-form-label col-form-label-sm">Price</label>
        <input required type="number" id="defaultPrice" name="defaultPrice" #defaultPrice="ngModel" [(ngModel)]="bindingModel.defaultPrice"
          class="form-control form-control-sm" placeholder="Item price...">

      </div>
      <div class="form-group  col-6">
        <label for="measureUnit" class="col-form-label col-form-label-sm">Measure Unit</label>
        <input required type="text" id="measureUnit" name="measureUnit" #measureUnit="ngModel" [(ngModel)]="bindingModel.measureUnit"
          class="form-control form-control-sm" placeholder="Item Measure Unit...">
        <label for="description" class="col-form-label col-form-label-sm">Description</label>
        <input required type="description" id="description" name="description" #description="ngModel" [(ngModel)]="bindingModel.description"
          class="form-control form-control-sm" placeholder="Item Description...">
      </div>
      <button class="btn btn-primary mb-2" type="submit" [disabled]="!ItemForm.valid">Create</button>
    </div>
  </form>
</div>