/* You can add global styles to this file, and also import other style files */
.backbody
{   background-repeat: no-repeat;
   background-image: url("./assets/bckgrnd.jpg");
   background-size: cover;
   background-position: center top;
   height: -webkit-fill-available;
}

footer   .bottom-center {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
}

.vh-90  {
  height: 40vh !important;
}

.vh-20{
  height: 20vh !important;
}
.fade.in {
  opacity: 1;
}

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;


}
.ng-select.custom .ng-select-container{
  min-height:  30px;
  background: white;
}
/*
.ng-select.custom .ng-dropdown-panel  {
  min-height: 0px;
  border-radius: 0;
  background: gray
}

 .ng-dropdown-panel.custom  {
  background: gray
} */

