/* You can add global styles to this file, and also import other style files */
.backbody
{   background-repeat: no-repeat;
   background-image: url("./assets/bckgrnd.jpg");
   background-size: cover;
   background-position: center top;
   height: -webkit-fill-available;
}

footer   .bottom-center {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
}

.vh-90  {
  height: 40vh !important;
}

.vh-20{
  height: 20vh !important;
}
.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}