<div class="row   justify-content-center align-items-center">
  <h1 class=" ">All items</h1>

</div>
<div *ngIf="itemsViewModel">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Measure Unit</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let item of itemsViewModel ; let i=index " app-item-list-row [item]='item'>
      </tr>
    </tbody>
  </table>
  <div class="row justify-content-between">
    <div class="col-lg-1">
      <button (click)="prevPage()" class="btn btn-default btn-lg" [disabled]="!prevKeys?.length ">Prev</button>
    </div>
    <div class="col-lg-1">
      <button (click)="nextPage() " class="btn btn-default btn-lg" [disabled]="!nextKey">Next</button>
    </div>
  </div>

</div>