<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Search movies</h1>
    <p>Search for a movie using the form below:</p>
    <form #form="ngForm" (submit)="find(form.value)" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search" ngModel>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submitng">Search</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>

  </div>
  <div class="panel-body">
    <div class="row" *ngIf="popular">
      <div *ngFor="let movie of popular;let i=index" class="col-md-2">
        <app-movie-list [movie]="movie" *ngIf="i < 6"></app-movie-list>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theaters</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="theaters">
      <div *ngFor="let movie of theaters;let i=index" class="col-md-2">
        <app-movie-list [movie]="movie" *ngIf="i < 6"></app-movie-list>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Kids movies</h3>
    </div>
    <div class="panel-body">
      <div class="row" *ngIf="kids">
        <div *ngFor="let movie of kids;let i=index" class="col-md-2">
          <app-movie-list [movie]="movie" *ngIf="i < 6"></app-movie-list>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Drama movies</h3>
    </div>
    <div class="panel-body">
      <div class="row" *ngIf="drama">
        <div *ngFor="let movie of drama;let i=index" class="col-md-2">
          <app-movie-list [movie]="movie" *ngIf="i < 6"></app-movie-list>
        </div>
      </div>
    </div>
  </div>